main {
    place-items: center;
}


#mountainDropDown {
    align-items: center;
    width: 50%;
    padding: 10px;
    margin: 10px;
}

#mountains {
    align-items: center;
    width: 75%;
    padding: 10px;
    margin: 10px;
    background-color: rgb(212, 211, 209);
}

