#parkLocationList {
    align-items: center;
}

#stateSearchButton {
    align-items: center;
}

#parkTypeList {
    align-items: center;
}

#parkTypeSearchButton {
    align-items: center;
}

#parkDiv {
    align-items: center;
}