body {
    background-image: url(https://preview.redd.it/vrju1i20b2m91.jpg?width=960&crop=smart&auto=webp&s=27801557a9ee621e8955393021ae44a75b04714e);
    background-size: cover;

}

header {
    opacity: 65%;
}